
body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #d5c2cf;
}

 .main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: large;
    color: springgreen;
}
